.container {
  margin: 50px;
  padding: 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.web-cam {
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field {
  width: 45%;
}
